[Unit]
Description=Update lolcate database
Wants=lolcate.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/lolcate --update
Nice=19
IOSchedulingClass=idle
IOSchedulingPriority=7

# PrivateTmp=true
# PrivateDevices=true
# PrivateNetwork=true
# ProtectSystem=full

[Install]
WantedBy=default.target
